<header class="masthead text-center text-white">
<div class='main'>
  <div class='title-contents'>
    <h1 class='service-title'>
      Everywhere you want to be
    </h1>
   <%= image_tag 'a.png', class: 'img-fluid' %>
  </div> 
<div>  
</header>

  <section>
    <div class="contact">
      <div class="grid align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
           <%= image_tag 'Engineering.png', class: 'img-fluid rounded-circle' %>
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <h2 class="display-4">For those about to rock...</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="contact">
      <div class="grid align-items-center">
        <div class="col-lg-6">
          <div class="p-5">
            <%= image_tag 'test.png', class: 'img-fluid rounded-circle' %>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="p-5">
            <h2 class="display-4">We salute you!</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="contact">
      <div class="grid align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <%= image_tag 'house.png', class: 'img-fluid rounded-circle' %>
            
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <h2 class="display-4">Let there be rock!</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
          </div>
        </div>
      </div>
    </div>
  </section>