<header class="masthead text-center text-white">
<div class='main'>
  <div class='title-contents'>
    <h1 class='service-title'>
      Everywhere you want to be
    </h1>
   <%= image_tag 'a.png', class: 'img-fluid' %>
  </div> 
<div>  
</header>

  <section>
    <div class="contact">
      <div class="grid align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
           <%= image_tag 'Engineering.png', class: 'img-fluid rounded-circle' %>
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <h2 class="display-4">自分自身の可能性を広げてみませんか？</h2>
            <p>美容師の方がプログラマーを目指すのも、営業職の方が医者や弁護士に挑戦することができる時代です。自分自身で「私は美容師である・弁護士である」ではなく、「私はプログラマーになれるかもしれない」という可能性思考も大事です。
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="contact">
      <div class="grid align-items-center">
        <div class="col-lg-6">
          <div class="p-5">
            <%= image_tag 'test.png', class: 'img-fluid rounded-circle' %>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="p-5">
            <h2 class="display-4">情報整理</h2>
            <p>調べた業界ごとの特徴や情報・企業ごとの特徴や情報をまとめて見れるように。沢山の情報収集していく中で調べたり、入手した情報が散在してしまうことを防ぎませんか？
            </p>
          </div>d
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="contact">
      <div class="grid align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <%= image_tag 'house.png', class: 'img-fluid rounded-circle' %>
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <h2 class="display-4">情報共有</h2>
            <p>時間には限りがあります。時間を効率的に使い、さらには仕事やプライベートとも両立するためにも、互いに情報共有を行いながら転職・就職活動をしていきましょう！！</p>
          </div>
        </div>
      </div>
    </div>
  </section>