
.back-image {
  background-image: url("office.png");
} 

.card-header {
  display: flex;
  justify-content: space-between;
}

.namecolor {
  color: #00000082;
}

.enterprise-red-btn {
  padding: 8px 20px;
  font-size: 14px;
  border: 2px solid black;
  color: black;
  background-color: white;
  font-weight: bold;
  text-align: center;
  border-radius: 3px;
  margin-left: 30px;
}