// Place all the styles related to the memos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$cWhite: white;
$cBlack: black;

.background {
  background-image: url("memo.png");
}

.search-form {
  margin-top: 5%;
  text-align: center;
  padding-top: 40px;
}

.search-form .search-input {
  width: 30%;
  margin-right: 10px;
  padding: 10px;
  border: 1.5px solid $cBlack;

}

.search-form .search-btn {
  width: 10%;
  padding: 10px;
}

.article-box {
  height:800px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
}

select {
  text-transform: none;
  border: 2px solid $cBlack;
}

.title {
  height: 30px;
  width: 50%;
  margin: 20px;
  border: 2px solid $cBlack;
}

.text {
  height: 25%;
  width: 50%;
  resize:none;
  margin-bottom: 20px;
  border: 2px solid $cBlack;
}

.genre-select{
  height: 30px;
  width: 250px;
}

.btn {
  width: 50%;
  margin-top: 20px;
  padding: 8px 20px;
  font-weight: bold;
  color: $cWhite;
  background-color: $cBlack;
  border: 2px solid $cBlack;
  border-radius: 5px;
  
}

.btn:hover {
  width: 50%;
  color: $cBlack;
  background-color: $cWhite;
  border: 2px solid $cBlack;
}


//以下はindex.html.erb

.back {
background-color: #e4e4e48c;
}


.industry-category {
  font-weight: 300px;
  font-size: 30px;
  text-align: center;
  margin-top: 5%;
  font-weight: bold;
}

.memo-info {
  margin-top: 5%;
  list-style: none;
}

.memo {
  display: inline-block;
  padding: 15px;
}
.list{
  display: inline-block;
  list-style: none;
  margin: 5px;
}

.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
  font-weight: bold;
  display: block;
  text-align: center;
}

.memo-red-btn {
  padding: 8px 20px;
  font-size: 14px;
  border: 2px solid black;
  color: black;
  background-color: white;
  font-weight: bold;
  text-align: center;
  border-radius: 3px;
  margin-left: 30px;
}
 
.field_with_errors {
  display: contents;
}





