/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */
 @import "bootstrap"; 
 @import "users";


 $cWhite: white;
 $cBlack: black;

body {
  background-image: url('/images/test.png');
}

 a {
   color: $cBlack;
   text-decoration: none;
   text-align: center;
 }

.row {
  display: block;
  text-align: center;
}
.contents {
  display: block;
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 50px;
  max-width: 660px;  
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.8)
}
 
.container {
  margin: 10px 0;
  background-color: $cWhite;
  box-sizing: border-box;
  
}

h2, .h2 {
  font-size: 2rem;
  margin: 20px 0;
}

input {
  width: 50%;
}

input[type="submit" i] {
  width: 50%;
  margin: 15px;
  padding: 5px;
  color: $cWhite;
  background-color: $cBlack;
  transition: background-color 0.5s;
}

input[type="submit" i]:hover {
  color: $cBlack;
  background-color: $cWhite;
}

